In [1]:
import pandas as pd

In [3]:
data =[4,8,15,16, 23, 42]

In [4]:
series= pd.Series(data)

In [5]:
print("Q1: Pandas Series:")

Q1: Pandas Series:

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##Question2

In [9]:
list_data=[10,20,30,40,50,60,70,80,90,100]

In [10]:
series_from_list= pd.Series(list_data)

In [11]:
print("\nQ2: pandas series from a list:")

Q2: pandas series from a list:

In [12]:
print(series_from_list)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

#Question 3

In [14]:
data_dict = {
    "Name":["Alice","Bob","Claire"],
    "Age":[25,30, 27],
    "Gender":["Female", "male", "Female"]
}

In [15]:
df= pd.DataFrame(data_dict)

In [16]:
print("\nQ3: Pandas DataFrame:")

Q3: Pandas DataFrame:

In [17]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

In [21]:

"""
A Pandas Series is a one-dimensional labeled array that can hold any data type, 
whereas a Pandas DataFrame is a two-dimensional labeled data structure with 
columns of potentially different types.

Example:
- Series: A single column of numbers (e.g., [4, 8, 15, 16, 23, 42])
- DataFrame: A structured table with multiple columns (e.g., Name, Age, Gender)."""

'\nA Pandas Series is a one-dimensional labeled array that can hold any data type, \nwhereas a Pandas DataFrame is a two-dimensional labeled data structure with \ncolumns of potentially different types.\n\nExample:\n- Series: A single column of numbers (e.g., [4, 8, 15, 16, 23, 42])\n- DataFrame: A structured table with multiple columns (e.g., Name, Age, Gender).'

In [22]:
"""Some common functions:
- df.head() → View the first few rows
- df.tail() → View the last few rows
- df.info() → Get summary information
- df.describe() → Get statistical insights
- df.drop(columns=['column_name']) → Remove a column
- df['column_name'].mean() → Calculate mean of a column"""

"Some common functions:\n- df.head() → View the first few rows\n- df.tail() → View the last few rows\n- df.info() → Get summary information\n- df.describe() → Get statistical insights\n- df.drop(columns=['column_name']) → Remove a column\n- df['column_name'].mean() → Calculate mean of a column"

In [23]:
"""
- Series: Mutable (data can be changed, but the size cannot be changed)
- DataFrame: Mutable (both data and size can be changed)
- Panel (deprecated in newer versions of Pandas): Mutable
"""

'\n- Series: Mutable (data can be changed, but the size cannot be changed)\n- DataFrame: Mutable (both data and size can be changed)\n- Panel (deprecated in newer versions of Pandas): Mutable\n'

#Question 7

In [25]:
names= pd.Series(["Alice","Bob", "Claire"])

In [26]:
ages= pd.Series([23,24,25])

In [27]:
genders = pd.Series(["Female", "Male", "Female"])

In [28]:
df_series= pd.DataFrame({"Name": names, "Age": ages, "Gender":genders})

In [29]:
print(df_series)

     Name  Age  Gender
0   Alice   23  Female
1     Bob   24    Male
2  Claire   25  Female